/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* colors name */
.text-orange{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* nav related styles  start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title {
    color: dark;
    font-size: 45px;
    font-weight: 800px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* nav related styles  end */

/* Header related styles start*/

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 0px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;

}
.profile-picture{
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0%;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0%;
}

.banner-content{
    max-width: 600px;
}
.banner-content, p {
    margin: 0px;
    margin-bottom: 30px;
}

/* Header related styles end */

/* About Section styles start */

.about {
    max-width: 1200px;
    margin: 100px auto;
    padding: 150px 200px;
    align-items: center;
    border-radius: 10px;
    background-color: #FFF8F3;
}

.section-title {
    text-align: center;
    font-size: 35px;
    
}
.section-description {
    text-align: center;
    color: #474747;
}

/* About Section styles end */